.nav-parent {
	padding: 0% 0.5% 0.5% 0%;
	float: right;
	border-radius: 20px;
	border-style: double;
	border-width: 5px;
	border-color: rgba(25, 29, 255, 0.822);
}

.navigationButton {
	margin: 0% 0.5% 0.5% 0%;
	min-height: 35px;
	min-width: 90px;
	text-align: center;
	/*calc in fontsize for minimum font-size*/
	font-size: calc(16px + 0.8vw);
	color: #fff;
	background-color: transparent;

	border-width: 5px;
	border-radius: 10%;
	border-color: rgba(17, 17, 17, 0.486);
}

.drawer-divider {
	background-color: #fff;
	width: 95%;
}

/*testing for drawer-paper*/
.drawer-box_btn {
	background-color: #10052b;
	background-size: cover;
}

/*reacts to certain screen size*/
@media (min-width: 945px) {
	.small-nav {
		display: none;
	}
}

@media (max-width: 946px) {
	.big-nav {
		display: none;
	}
}
