.headParent {
	overflow: hidden;
}

.headChild {
	display: inline-block;
	padding: 0% 2% 2% 0%;
	vertical-align: middle;
}

.homepageImg {
	border-width: 5px;
	border-radius: 50%;
	border-color: blue;
}

.headerLetters1 {
	font-size: calc(20px + 2.25vw);
	animation: fade 1.75s ease-in;
}

.headerLetters2 {
	font-size: calc(16px + 0.81vw);
	animation: fade 1.75s ease-in;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
