.headParent {
	overflow: hidden;
	animation: fade 1.5s ease-in;
}

.headChild {
	display: inline-block;
	padding: 0% 2% 2% 0%;
	vertical-align: middle;
}

.homepageImg {
	width: calc(70px + 5.5vw);
	border: double;
	border-width: 6px;
	border-radius: 50%;
	border-color: blue;
}

.headerLetters1 {
	font-size: calc(18px + 2vw);
}

.headerLetters2 {
	font-size: calc(14px + 0.8vw);
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
