.headParent {
	overflow: hidden;
}

.headChild {
	display: inline-block;
	padding: 0% 2% 2% 0%;
	vertical-align: middle;
}

.homepageImg {
	border-width: 5px;
	border-radius: 50%;
	border-color: blue;
}

h1 {
	font-size: calc(20px + 2.25vw);
}

h3 {
	font-size: calc(16px + 0.81vw);
}
