/*
styles for the entire project
*/

:root {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
		Arial, sans-serif;
	line-height: 0.7;
	font-weight: normal;
	--font-color: #ffffff;
	--background-coloration: #1f1f1f;

	margin: 0% 0.5% 0.5% 0%;
	padding: 0% 0.5% 0.5% 0%;

	color: var(--font-color);
	background-color: var(--background-coloration);
}
