/*
styles for the entire project
*/

:root {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
		Arial, sans-serif;
	line-height: 0.75;
	font-weight: normal;

	margin: 1%;
	padding: 1%;

	color: #ffffff;
	background-color: #1f1f1f;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
