/* fonts */
@font-face {
	font-family: vanilla-extract;
	src: url("./assets/fonts/vanilla-extract/VanillaExtractRegular.ttf")
		format("ttf");
}

@font-face {
	font-family: objective;
	src: url("./assets/fonts/objective/Objective.ttf");
}

/*
styles for the entire project
*/

:root {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
		Arial, sans-serif;
	line-height: 0.7;
	font-weight: normal;
	--font-color: #ffffff;
	--background-coloration: #1f1f1f;

	margin: 0% 0.5% 0.5% 0%;
	padding: 0% 0.5% 0.5% 0%;

	color: var(--font-color);
	background-color: var(--background-coloration);
}

body {
	min-height: 97vh;
	min-width: 99wh;
}

/*pseudo element to change the opacity of the background image*/
body::after {
	content: "";
	background-image: url("/images/background/blue-circuit-board.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.05;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.basic-text {
	font-family: objective;
	font-weight: 650;
	font-size: 1.1rem;
	letter-spacing: 2px;
	line-height: 1.15;
	word-spacing: 1.5px;
	text-wrap: wrap;
}

.basic-text::first-letter {
	text-transform: uppercase;
	font-weight: 650;
	font-size: 1.25rem;
}

.mini-text {
	font-family: vanilla-extract;
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 1px;
	line-height: 1.15;
	word-spacing: 1.5px;
	text-wrap: wrap;
}
